accelerate==0.21.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.9
aiosignal==1.3.1
anyio==4.6.2.post1
asgiref==3.8.1
async-timeout==5.0.1
backoff==2.2.1
bcrypt==4.2.1
bitsandbytes==0.41.0
build==1.2.2.post1
chroma-hnswlib==0.7.6
chromadb==0.5.23
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
cmake==3.31.1
coloredlogs==15.0.1
contourpy==1.3.1
cycler==0.12.1
deepspeed==0.9.5
Deprecated==1.2.15
distro==1.9.0
docker-pycreds==0.4.0
durationpy==0.9
einops==0.6.1
einops-exts==0.0.4
fastapi==0.115.6
ffmpy==0.4.0
filelock==3.16.1
flatbuffers==24.3.25
fonttools==4.55.1
frozenlist==1.5.0
fsspec==2024.10.0
ftfy==6.3.1
google-auth==2.36.0
googleapis-common-protos==1.66.0
gradio==3.35.2
gradio_client==0.2.9
grpcio==1.68.1
h11==0.14.0
hjson==3.1.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.0
huggingface-hub==0.26.3
humanfriendly==10.0
jiter==0.8.0
joblib==1.4.2
kiwisolver==1.4.7
kubernetes==31.0.0
latex2mathml==3.77.0
linkify-it-py==2.0.3
lit==18.1.8
-e git+https://github.com/tingxueronghua/ChartLlama-code.git@fb0827627c46abd4b4d9f0628ce1213a8f196be5#egg=llava
markdown-it-py==2.2.0
markdown2==2.5.1
matplotlib==3.9.3
mdit-py-plugins==0.3.3
mmh3==5.0.1
monotonic==1.6
mpmath==1.3.0
multidict==6.1.0
narwhals==1.15.2
networkx==3.4.2
ninja==1.11.1.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
onnxruntime==1.20.1
openai==1.56.2
opentelemetry-api==1.28.2
opentelemetry-exporter-otlp-proto-common==1.28.2
opentelemetry-exporter-otlp-proto-grpc==1.28.2
opentelemetry-instrumentation==0.49b2
opentelemetry-instrumentation-asgi==0.49b2
opentelemetry-instrumentation-fastapi==0.49b2
opentelemetry-proto==1.28.2
opentelemetry-sdk==1.28.2
opentelemetry-semantic-conventions==0.49b2
opentelemetry-util-http==0.49b2
orjson==3.10.12
overrides==7.7.0
peft==0.4.0
plotly==5.24.1
posthog==3.7.4
propcache==0.2.1
protobuf==4.25.3
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==1.10.19
pydub==0.25.1
pyparsing==3.2.0
PyPika==0.48.9
pyproject_hooks==1.2.0
python-dotenv==1.0.1
python-multipart==0.0.19
regex==2024.11.6
requests-oauthlib==2.0.0
rsa==4.9
safetensors==0.4.5
scikit-learn==1.2.2
scipy==1.14.1
semantic-version==2.10.0
sentencepiece==0.1.99
sentry-sdk==2.19.0
setproctitle==1.3.4
shellingham==1.5.4
shortuuid==1.0.13
sniffio==1.3.1
starlette==0.41.3
svgwrite==1.4.3
sympy==1.13.3
threadpoolctl==3.5.0
timm==0.6.13
tokenizers==0.20.3
tomli==2.2.1
torch==2.0.1
torchvision==0.15.2
tqdm==4.67.1
transformers==4.46.3
triton==2.0.0
typer==0.15.1
uc-micro-py==1.0.3
uvicorn==0.32.1
uvloop==0.21.0
wandb==0.18.7
watchfiles==1.0.0
wavedrom==2.0.3.post3
websocket-client==1.8.0
websockets==14.1
wrapt==1.17.0
yarl==1.18.3
zstandard==0.23.0
